.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  left: 56px;
  position: absolute;
  pointer-events: none;
  transform: translateY(20px);
  transform-origin: top left;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--label);
  font-size: 16px;
  left: 16px;
}

.inputContainer:focus-within .label {
  transform: translateY(6px);
  font-size: 12px;
}

.labelFilled {
  transform: translateY(6px);
  font-size: 12px;
}

.input {
  padding-left: 56px;
  box-sizing: border-box;
  padding: 18px 16px 6px;
  color: var(--input-color);
  border: none;
  border-radius: 10px;
  background: var(--input-background);
  height: 58px;
  font-size: 18px;
  line-height: 21px;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
