.span {
  display: inline-flex;
}

.number {
  font-size: 12px;
  margin: 0 0 0 4px;
  padding: 4px 7.5px;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--span-number-background);
}

.text {
  font-size: 14px;
  color: var(--color);
}
