.form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
}

.button {
  padding: 16px 32px;
  font-size: 18px;
  line-height: 120%;
}

.errorMessage {
  text-align: center;
  color: var(--primary);
}

.successMessage {
  text-align: center;
  color: var(--green);
}

.errorInput {
  text-align: center;
  color: var(--primary);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
