.rightMenu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 72px;
  height: 100vh;
  padding: 20px 0 32px;
  background: var(--right-menu);
  margin-left: auto;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.rightMenuExpanded {
  justify-content: flex-start;
  width: 430px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  padding: 0 20px;
}

.burger {
  border: none !important;
  width: 100%;
}

.buttonExpanded {
  width: 72px !important;
}

.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 765px) {
  .rightMenu {
    display: none;
  }
}
