.lessonTab {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.opened {
  display: flex;
  opacity: 1;
  height: auto;
  visibility: visible;
}

.active {
  background: var(--gradient-opacity) !important;
  color: var(--viewed-color);
}

.active svg path {
  stroke: var(--lesson-tab-active-color);
  stroke-width: 2;
}

.title {
  padding: 20px 30px;
  background: var(--lesson-tab-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.viewed {
  border-left: 3px solid var(--secondary);
}
