.leftMenuExpanded {
  min-width: 220px;
  transition: width 0.2s ease-in-out;
}

.leftMenu {
  padding: 20px 0 32px;
  background: var(--gray-dark);
  width: 72px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.burger {
  border: none !important;
  width: 100%;
}

@media (max-width: 765px) {
  .leftMenu {
    display: none;
  }
}
