.sectionForUser {
  border-bottom: 1px solid var(--color);
}

.title {
  padding: 20px;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.lessons {
  display: flex;
  flex-direction: column;
}

.addLesson {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.opened {
  display: block;
  opacity: 1;
  height: auto;
  visibility: visible;
}

/* edit section */

.sectionForAdmin {
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid var(--color);
}

.sectionTab {
  display: flex;
  flex-grow: 1;
  cursor: grab;
}

.contentForAdmin {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  padding: 20px 0px 20px 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.buttonForSectionTab {
  cursor: pointer;
  height: 100%;
  background: none;
  padding: 0;
}

.buttonForSectionTab:hover {
  opacity: 0.5;
}

.errorMessage {
  text-align: center;
  color: var(--primary);
}

.titleForAdmin {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.inputForSection {
  border: none;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.inputForSection:hover {
  background: var(--gray-light);
}

.inputForSection:focus {
  background: var(--gray-light);
}
