.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.shadowBack {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.module {
  display: flex;
  background-color: white;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  padding: 0;
}

.editCourse {
  width: 90%;
  height: auto;
  overflow: auto;
}

.body {
  background: var(--body-background);
}

.avatarForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.createLessons {
  width: auto;
  height: auto;
}
